.mainContainer
    display: grid
    
    .videoSection
        display: grid
        grid-template-columns: 1fr 1fr

    .buttonContainer
        display: grid
        justify-content: center
        background-color: #28d2d0