.contactUsContainer
    display: grid
    grid-template-areas: 'icon text button'
    background-color: #455a89

    &> span
        grid-area: icon

    .textContainer
        grid-area: text

    .buttonPosition
        grid-area: button